<!DOCTYPE html>
<html lang="en">
<head>
	@await Component.InvokeAsync("HeaderNavbar")
</head>

<body>
	@await Component.InvokeAsync("Navbar")
	
	<div class="container">
		<div class="mainheading">
			<h1 class="sitetitle">Mediumish</h1>
			<p class="lead">
				Bootstrap theme, medium style, simply perfect for bloggers
			</p>
		</div>
		
		@RenderBody()
		
		@await Component.InvokeAsync("FooterNavbar")
		

	</div>
	
	<script src="~/js/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>


